* {
  box-sizing: border-box;
}

/* месяцы и годы */
#month-calendar {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 25px;
  /* box-shadow: inset 2px 2px 2px 0px rgb(255 255 255 / 10%),
    10px 10px 10px 0px rgb(0 0 0), 4px 4px 5px 0px rgb(0 0 0); */
}

.month {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  color: #ffffff;
  list-style: none;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  animation: animatedgradient 10s ease alternate infinite;
  background-size: 300% 300%;
  box-shadow: inset 2px 2px 2px 0px rgb(255 255 255 / 10%),
    10px 10px 10px 0px rgb(0 0 0), 4px 4px 5px 0px rgb(0 0 0);
  border-radius: 50px;
}

.month li {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 700;
}

.month li.prev,
.month li.next {
  cursor: pointer;
}

.month li.prev {
  float: left;
}

.month li.next {
  float: right;
}

.month li.year-name {
  font-size: 1rem;
  font-weight: 400;
}

/* дни недели */
.weekdays {
  margin: 0;
  padding: 0.5rem 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
}

.weekdays li {
  display: inline-block;
  flex: 0 0 calc(100% / 7);
  text-align: center;
  text-shadow: 1px 1px 2px #ff7f68, 0 0 1em #0057fe, 0 0 0.2em #21ebec;
}

/* дни */
.days {
  margin: 0;
  padding: 1rem 0;
  background: linear-gradient(60deg, #246bfd, #0057fe, #21ebec);
  animation: animatedgradient 100s ease alternate infinite;
  background-size: 300% 300%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-content: flex-start;
  box-shadow: inset 2px 2px 2px 0px rgb(255 255 255 / 10%),
    10px 10px 10px 0px rgb(0 0 0), 4px 4px 5px 0px rgb(0 0 0);
  border-radius: 50px;
}

.days li {
  padding: 0.5rem;
  list-style: none;
  display: inline-block;
  flex: 0 0 calc(100% / 7);
  text-align: center;
  color: #fff;
  font-size: 0.9rem;
  line-height: 1rem;
}

.days li.date-now {
  color: #f2627c;
  font-weight: 500;
}
