@import url(main.css);
@import url(calendar.css);

.calendar-btn {
  display: inline-block;
  width: 150px;
  height: 40px;
  background: linear-gradient(90deg, #f2627c 0%, #ff7f68 100%);
  box-shadow: 0px 4px 20px rgba(249, 113, 114, 0.15);
  border-radius: 30px;
  border: none;
  text-shadow: none;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 25px;
  font-family: 'Source Sans Pro';
}

.fixtures-wrraper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
}

.match-content {
  position: relative;
  padding: 5px;
  text-align: center;
  color: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  border: 1px solid black;
  transition: color 10s;
}

.match-content:hover {
  box-shadow: 0px 1px 16px 0px rgba(0, 255, 255, 0.3),
    1px 2px 8px 0px rgba(0, 255, 255, 0.3),
    2px 4px 8px 0px rgba(0, 255, 255, 0.3),
    2px 4px 16px 0px rgba(0, 255, 255, 0.3),
    inset 0px 1px 16px 0px rgba(0, 255, 255, 0.3),
    inset 1px 2px 8px 0px rgba(0, 255, 255, 0.3),
    inset 2px 4px 8px 0px rgba(0, 255, 255, 0.3),
    inset 2px 4px 16px 0px rgba(0, 255, 255, 0.3);
  border: 1px solid rgba(0, 255, 255, 0.3);
  transition: all 2s;
  z-index: 90;
}

.match-content::before,
.match-content::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.match-content::before,
.match-content::after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: center;
}

.match-content::before {
  border-top: 1px solid rgba(0, 255, 255, 0.7);
  border-bottom: 1px solid rgba(0, 255, 255, 0.7);
  transform: scale3d(0, 1, 1);
}

.match-content::after {
  border-left: 1px solid rgba(0, 255, 255, 0.7);
  border-right: 1px solid rgba(0, 255, 255, 0.7);
  transform: scale3d(1, 0, 1);
}
.match-content:hover::before,
.match-content:hover::after {
  transform: scale3d(1, 1, 1);
  transition: transform 1s;
}

.team__inner {
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 10px;
  color: #fff;
}

.team {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.team img {
  width: 32px;
  height: 32px;
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8),
    inset 0 2px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8),
    inset 0 2px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.8),
    inset 0 2px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.popup-fixtures {
  display: none;
  flex-direction: column;
}

.status {
  text-align: left;
  padding: 2px;
}

.status span {
  white-space: nowrap;
  text-shadow:
    /* белый свет */ 0 0 1px rgba(0, 255, 255, 0.7),
    0 0 2px rgba(0, 255, 255, 0.7), 0 0 5px rgba(0, 255, 255, 0.7),
    /* зеленый свет */ 0 0 11px rgba(0, 255, 255, 0.7),
    0 0 20px rgba(0, 255, 255, 0.7), 0 0 30px rgba(0, 255, 255, 0.7),
    0 0 55px rgba(0, 255, 255, 0.7), 0 0 80px rgba(0, 255, 255, 0.7);
}

.popup-fixtures.active__fixtures {
  display: flex;
}

@media (max-width: 500px) {
  .fixtures-wrraper {
    font-size: 14px;
  }
}
