@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: white;
  text-align: center;
  text-shadow: 5px 5px 5px black;
}

body {
  height: 100vh;
  background-image: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  max-width: 100%;
}

ul {
  list-style: none;
}

.container{
    position: relative;
    padding: 16px;
    text-align: center;
    text-transform: uppercase;  
} 

.title-box {
  margin: 25px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  font-size: 1.5em;
}
.title-box #goals {
  font-size: 1.8em;
}
.team {
  width: 100px;
}
.team img {
  height: 54px;
  width: 54px;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.btn {
  background: none;
  cursor: pointer;
}

.league {
  display: flex;
  justify-content: space-between;
}

.league img {
  height: 54px;
  width: 54px;
}

.none {
  display: none;
}

.lineup {
  display: flex;
  justify-content: space-around;
}